$neutral: (
  black: #263238,
  BGrey: #4D4D4D,
  grey: #717171,
  LGrey: #89939E,
  greyBlue: #ABBED1,
  sliver: #F5F7FA,
  white: #FFFFFF,
);

$common: (
  primary: #28CB8B,
  secondary: #263238,
  info: #2194F3, 
);

$colorShade: (
  shade1: #4CAF50,
  shade2: #388E3B,
  shade3: #237D31,
  shade4: #1B5E1F,
  shade5: #103E13,
);

$colorTint: (
  tint1: #66BB69,
  tint2: #81C7,
  tint3: #e74c3c,
  tint4: #ecf0f1,
  tint5: #333,
);
$action: (
  warning: #FBC02D,
  error: #E53835,
  success: #2E7D31, 
);

